body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    padding: 10px 20px;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #333;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: orange;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    margin: 0;
}

.dropdown-content a {
    color: white;
    padding: 10px 20px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #333;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: block;
    }

    .navbar.active .menu {
        display: flex;
    }
}
